<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.ts.Reporting" />
	</listeners>
	<test name="Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.ts.testcases.TC_Login" />
	 <!--   <class name="com.ts.testcases.TC_NID" />
	        <class name="com.ts.testcases.TC_Utility" />  
	        <class name="com.ts.testcases.TC_Professionals" />  
            <class name="com.ts.testcases.TC_Others" />   
	        <class name="com.ts.testcases.TC_OCR" /> 
	        <class name="com.ts.testcases.TC_Employment" />  
	        <class name="com.ts.testcases.TC_Bank" />   
	        <class name="com.ts.testcases.TC_Business" />  
	        <class name="com.ts.testcases.TC_CourtCheck" />   -->
	  <!--  <class name="com.ts.testcases.TC_DataProvider" />
	        <class name="com.ts.testcases.TC_Threshold" /> -->
			
			
		</classes>
	</test>
</suite>
